{% extends "admin/base_site.html" %}
{% load i18n l10n %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Lets add a new device</p>

    The device to register - <p>{{ queryset }}</p>

    Type of device -
    <select name='type'>
      <option value="reader">Reader</option>
      <option value="relay">Relay</option>
    </select>

    <div>

    Name -  <input type="text" name="name"> <br><br>
    Location -  <select name='location'> <br>
      {% for location in locations %}
        <option value="{{ location.id }}"> {{location}} </option>
     {% endfor %}
   </select>
   <br>
    <input type="hidden" value=post name=post />
      <input type="hidden" name="action" value="convert_unregistered_to_reg" />
    <input type="submit" name="apply" value="Create Device" />
    </div>
</form>
{% endblock %}
